<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css"/>
    <title>{{title}}</title>
</head>
<body>
    {{> header}}
    <a href="http://localhost:8080/about">about me</a>
    <br>
    <a href="http://localhost:8080/convert">convert currency!</a>
    {{> footer}}
</body>
</html>