<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css_js/index.css"/>
    <title>{{title}}</title>
</head>
<body>
    {{> header}}
    <nav>
        <ul>
            <li>
                <a href="http://localhost:8080/">Home</a>
            </li>
            <li>
                <a href="http://localhost:8080/about">About</a>
            </li>
            <li>
                <a href="http://localhost:8080/convert">API</a>
            </li>
        </ul>
    </nav>
    {{> footer}}
</body>
</html>